* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.58%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    padding-top: 2rem;
}

body img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

body h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 9.6rem;
    line-height: 2rem;
    /* or 21% */
    text-align: center;
    letter-spacing: -0.5px;
    color: #1A2B4A;
    margin-top: 7rem;
}

body p {
    font-style: normal;
    font-weight: 500;
    font-size: 1.9rem;
    line-height: 2rem;
    /* or 105% */
    text-align: center;
    letter-spacing: -0.5px;
    color: #1A2B4A;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.home-btns {
    background: #42A5F5;
    border: 1px solid #42A5F5;
    border-radius: 8.8rem;
    text-decoration: none;
    color: white;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    padding: 1.2rem 1rem;
    width: 70%;
    margin-bottom: 1.5rem;
    font-style: normal;
    font-weight: 500;
    font-size: 1.9rem;
    line-height: 2rem;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

.forgotPassword {
    text-decoration: none;
    color: #1A2B4A;
    font-size: 1.4rem;
}