* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.58%;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
h1{
    width: 12.2rem;
height: 2rem;
left: 1.4rem;
top: 43.5rem;

    font-style: normal;
font-weight: 500;
font-size: 3rem;
line-height: 2rem;
/* identical to box height, or 67% */

/* text-align: center; */
letter-spacing: -0.5px;

color: #1A2B4A;

}
p{
    /* width: 12.2rem; */
/* height: 2rem; */
left: 1.4rem;
top: 43.5rem;

    font-style: normal;
font-weight: 400;
font-size: 1.7rem;
line-height: 2rem;
/* or 118% */
letter-spacing: -0.5px;
color: #1A2B4A;
width: 34.4rem

}
a{
    /* flex-direction: row; */
/* justify-content: center; */
/* align-items: center; */
padding: .3rem 11.2rem;
/* gap: 8px; */

/* position: relative; */
margin-top: 5rem;
width: 34.3rem;
height: 4.6rem;
left: 1.7rem;
top: 61.6rem;
text-decoration: none;
background: #42A5F5;
border: 1px solid #42A5F5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 92px;
}