* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.58%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 2rem;
}

body a {
    background: #42A5F5;
border: 1px solid #42A5F5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 116px;
width: 90%;
padding: 1.9rem 0;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
margin: 3.6rem 0;
font-style: normal;
font-weight: 500;
font-size: 2.4rem;
line-height: 2rem;
/* identical to box height, or 83% */

text-align: center;
letter-spacing: -0.5px;

color: #FFFFFF;

}
nav{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-right: 1rem;
}

.welcome{
    padding-top: 2rem;
    padding-bottom: 2rem;
 text-align: left;   
color: #1A2B4A;
font-size: 20px;
display: flex;
flex-direction: column;
justify-content: flex-start;
width: 100%;
padding-right: 28rem;
}

.balance{
    width: 90%;
    height: 23rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #1A2B4A;
border: 1px solid #1A2B4A;
box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
border-radius: 16px;
padding: 2.4rem 0;
}

.balance h3{
    padding-top: 1rem;
padding-bottom: 1.5rem;
color: #C0BDBD;
font-size: 18px;
}

#bal{
    padding-top: 2rem;
    padding-bottom: 5rem;
    font-size: 30px;
    color: #FFFFFF;
}
.acct{
    /* background-color:#BFBDBD ;
    padding: 4px;
    color: ; */
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 2px 11px;
gap: 8px;

position: absolute;
width: 89px;
height: 20px;
left: 60px;
top: 370px;

background: #BFBDBD;
border: 1px solid #BFBDBD;
border-radius: 8px;
font-size: 12px;
color: #1A2B4A;
font-weight: 700;
}

.acct-act

.transactions{
    /* background-color: burlywood; */
    width: 90%;
    height: fit-content;
    border-radius: 2rem;
    background-color: #FFFFFF;
    border: 1px solid #DADADA ;
}
#b{
    color: #1A2B4A;
    padding-right: 20rem;
    padding-top: 2rem;
    padding-left: 2rem;
    font-size:2rem ;
    padding-bottom: 2rem;
    font-weight: 500;
}


.transcation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background: #FFFFFF;
    border: 1px solid #DADADA;
}

.transcation-left{
    display: flex;
    align-items: center;
}

.transcation-left img{
    margin-right: 3.4rem;
    width: 1.6rem;
    height: 1.6rem;
}

.transcation-left .date{
    display: flex;
    flex-direction: column;
}

.transcation-left .date h5{
    font-style: regular;
font-size: 1.2rem;
line-height: 2rem;
letter-spacing: -0.5px;
color: #838C9E;
}

.transcation-left .date h6{
    font-style: normal;
font-weight: 400;
font-size: 1.2rem;
line-height: 2rem;
letter-spacing: -0.5px;
color: #1A2B4A;
}

.transcation-right{
    display: flex;
    flex-direction: column;
}

.credit{
    font-style: normal;
font-weight: 500;
font-size: 1.2rem;
line-height: 2rem;
/* identical to box height, or 167% */
letter-spacing: -0.5px;

color: #177308;

margin-bottom: 0.5rem;

}

.debit{
    font-style: normal;
font-weight: 500;
font-size: 1.2rem;
line-height: 2rem;
/* identical to box height, or 167% */

letter-spacing: -0.5px;

color: #BA0505;;

margin-bottom: 0.5rem;

}

.transcation-right h4{
    font-style: normal;
font-weight: 400;
font-size: 1.2rem;
line-height: 2rem;
/* identical to box height, or 167% */
letter-spacing: -0.5px;

color: #838C9E;
}
