* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.58%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
}

body a {
    background: #42A5F5;
border: 1px solid #42A5F5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 116px;
width: 100%;
padding: 1.9rem 0;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
margin: 3.6rem 0;
font-style: normal;
font-weight: 500;
font-size: 2.4rem;
line-height: 2rem;
text-align: center;
letter-spacing: -0.5px;
color: #FFFFFF;
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#not{
    /* margin-right: 30rem; */
    height: 2.3rem;
}



.welcome{
    margin-top: 2rem;
    margin-bottom: 2rem;
 text-align: left;   
color: #1A2B4A;
font-size: 20px;
width: 100%;

}

.welcome h1, .welcome h2{
    width: 100%;
    text-align: left;
}

.balance{
    width: 100%;
    height: 23rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background: #1A2B4A;
border: 1px solid #1A2B4A;
box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.25);
border-radius: 16px;
padding: 2.4rem 3rem ;
}

.balance h3{
    padding-top: 1rem;
color: #C0BDBD;
font-size: 18px;
}
.balance .kad h3{
    align-items: center;
}

#bal{
    font-size: 30px;
    color: #FFFFFF;
    /* background-color: #177308; */
}
#kbal{
    padding-bottom: 1.2rem;
    font-size: 30px;
    color: #FFFFFF;
}

.num{
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.acct{
padding: 0.2rem  0.8rem 0.2rem 0.8rem;
background: #BFBDBD;
border: 0.1rem solid #BFBDBD;
border-radius: 0.8rem;
font-size: 1.2rem;
color: #1A2B4A;
font-weight: 700;

}

#timer-img{
    height: 2.3rem ;
    color: #177308;
    margin-right: 0.4rem;
    /* margin-top:1rem ; */
}
.time{
    /* position: absolute; */
    /* padding-right: 2rem; */
}
.active{
    /* margin-left: 20rem; */
    color: white;
    font-size: 1.2rem;
    /* padding-right: 3rem; */
    align-items: center;
    /* text-align: center; */
    /* justify-content: center; */
    display: flex;
    
}

.transactions{
    width: 100%;
    height: fit-content;
    border-radius: 2rem;
    background-color: #FFFFFF;
    border: 1px solid #DADADA ;
}
#b{
    color: #1A2B4A;
    padding-top: 2rem;
    padding-left: 2rem;
    font-size:2rem ;
    padding-bottom: 2rem;
    font-weight: 500;
}


.transcation{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    background: #FFFFFF;
    border: 1px solid #DADADA;
}

.transcation-left{
    display: flex;
    align-items: center;
}

.transcation-left img{
    margin-right: 3.4rem;
    width: 1.6rem;
    height: 1.6rem;
}

.transcation-left .date{
    display: flex;
    flex-direction: column;
}

.transcation-left .date h5{
    font-style: regular;
font-size: 1.2rem;
line-height: 2rem;
letter-spacing: -0.5px;
color: #838C9E;
}

.transcation-left .date h6{
    font-style: normal;
font-weight: 400;
font-size: 1.2rem;
line-height: 2rem;
letter-spacing: -0.5px;
color: #1A2B4A;
}

.transcation-right{
    display: flex;
    flex-direction: column;
}

.credit{
    font-style: normal;
font-weight: 500;
font-size: 1.2rem;
line-height: 2rem;
letter-spacing: -0.5px;
color: #177308;
margin-bottom: 0.5rem;

}

.debit{
    font-style: normal;
font-weight: 500;
font-size: 1.2rem;
line-height: 2rem;
letter-spacing: -0.5px;
color: #BA0505;;
margin-bottom: 0.5rem;

}

.transcation-right h4{
    font-style: normal;
font-weight: 400;
font-size: 1.2rem;
line-height: 2rem;
/* identical to box height, or 167% */
letter-spacing: -0.5px;

color: #838C9E;
}
